**문제 정의** -  
PySpark를 사용하여 고객 거래 데이터를 포함한 데이터셋에 대해 종합적인 데이터 분석을 수행하세요.

1. 가장 많이 판매된 상품 카테고리를 찾으세요.  
2. 가장 높은 매출을 생성한 상품 카테고리를 찾으세요.  
3. 가장 가치 있는 고객 상위 10명을 선정하세요.  
4. 각 성별이 어떤 상품 카테고리를 가장 많이 구매하는지 확인하세요.  
5. 연령대와 매출 간의 관계를 보여주는 차트를 만드세요.

In [1]:
import pyspark
from pyspark.sql import SparkSession

In [5]:
# PySpark의 SparkSession 객체 생성
spark = SparkSession.builder.appName('PySpark_Practice').config("spark.sql.repl.eagerEval.enabled", True).getOrCreate()

In [6]:
# CSV 파일 경로 설정
csv_file = "/content/retail_sales_dataset.csv"

# PySpark 데이터프레임 생성

+--------------+----------+-----------+------+---+----------------+--------+--------------+------------+
|Transaction ID|      Date|Customer ID|Gender|Age|Product Category|Quantity|Price per Unit|Total Amount|
+--------------+----------+-----------+------+---+----------------+--------+--------------+------------+
|             1|2023-11-24|    CUST001|  Male| 34|          Beauty|       3|            50|         150|
|             2|2023-02-27|    CUST002|Female| 26|        Clothing|       2|           500|        1000|
|             3|2023-01-13|    CUST003|  Male| 50|     Electronics|       1|            30|          30|
|             4|2023-05-21|    CUST004|  Male| 37|        Clothing|       1|           500|         500|
|             5|2023-05-06|    CUST005|  Male| 30|          Beauty|       2|            50|         100|
+--------------+----------+-----------+------+---+----------------+--------+--------------+------------+

In [7]:
# "u"라는 이름의 임시 뷰를 생성

In [9]:
# Spark SQL로 임시 뷰 "u"에서 Age, Quantity를 쿼리

+---+--------+
|Age|Quantity|
+---+--------+
| 34|       3|
| 26|       2|
| 50|       1|
| 37|       1|
| 30|       2|
| 45|       1|
| 46|       2|
| 30|       4|
| 63|       2|
| 52|       4|
| 23|       2|
| 35|       3|
| 22|       3|
| 64|       4|
| 42|       4|
| 19|       3|
| 27|       4|
| 47|       2|
| 62|       2|
| 22|       3|
+---+--------+
only showing top 20 rows

1. 가장 많이 판매된 상품 카테고리를 찾으세요.

In [11]:
from pyspark.sql.functions import sum

# 상품 카테고리별 판매량 집계
# "Product Category" 열을 기준으로 데이터를 그룹화합니다.
# 각 카테고리의 "Quantity" 합계를 계산하고, 결과를 열 이름 "Total Quantity Sold"로 지정합니다.

# 판매량 기준으로 내림차순 정렬
# "Total Quantity Sold"를 기준으로 내림차순으로 정렬합니다.

+----------------+-------------------+
|Product Category|Total Quantity Sold|
+----------------+-------------------+
|        Clothing|                894|
|     Electronics|                849|
|          Beauty|                771|
+----------------+-------------------+

In [12]:
# 판매량 기준으로 내림차순 정렬 후 가장 많이 판매된 카테고리를 추출
# "Total Quantity Sold"를 기준으로 내림차순으로 정렬합니다.

+----------------+-------------------+
|Product Category|Total Quantity Sold|
+----------------+-------------------+
|        Clothing|                894|
+----------------+-------------------+

2. 가장 높은 매출을 생성한 상품 카테고리를 찾으세요.

In [15]:
# 상품 카테고리별 매출 집계
# "Product Category" 열을 기준으로 데이터를 그룹화합니다.
# 각 카테고리의 "Total Amount" 합계를 계산하고, 결과를 열 이름 "Total Revenue"로 지정합니다.

# 매출 기준으로 내림차순 정렬
# "Total Revenue"를 기준으로 내림차순으로 정렬합니다.

# 가장 높은 매출을 생성한 row를 반환합니다.

+----------------+-------------+
|Product Category|Total Revenue|
+----------------+-------------+
|     Electronics|       156905|
|        Clothing|       155580|
|          Beauty|       143515|
+----------------+-------------+

+----------------+-------------+
|Product Category|Total Revenue|
+----------------+-------------+
|     Electronics|       156905|
+----------------+-------------+

3. 각 성별이 어떤 상품 카테고리를 가장 많이 구매하는지 확인하세요.

In [18]:
# 성별(Gender) 및 상품 카테고리(Product Category)별 데이터 개수 집계
# "Gender"와 "Product Category"를 기준으로 데이터를 그룹화합니다.
# 각 그룹에 속한 데이터의 개수를 계산합니다.

+------+----------------+-----+
|Gender|Product Category|count|
+------+----------------+-----+
|  Male|        Clothing|  177|
|Female|        Clothing|  174|
|  Male|     Electronics|  172|
|Female|          Beauty|  166|
|  Male|          Beauty|  141|
|Female|     Electronics|  170|
+------+----------------+-----+